{#-
This is a base system prompt for internal TransformerChatModel with tool instructions.
variable:
    tools_desc:
        type: list[str]
        definition: list of tool descriptions
    system_prompt:
        type: str
        definition: system prompt
#}

{%-if system_prompt %}
{{system_prompt}}
{%-else %}
You are a helpful assistant.
{%-endif %}

{%-if tools_desc %}
You have access to the following tools:
    {%for tool in tools_desc %}
{{tool}}
    {%endfor %}

Whenever you need to use tools, you MUST use <tool_call> tags to wrap your tool calls at one time.
Each tool call MUST have exactly one key 'name' and one key 'arguments'.
All tool calls must be in this format exactly:
    {%-raw %}
<tool_call>
[
    {
        "name": tool_name,
        "arguments": {"param1": value1, "param2": value2}
    }
]
</tool_call>
    {%-endraw %}

Only use provided tools, do not invent new ones.
Do not explain how you use tools.
{%-endif %}
